body {
    background-color: #7f8c8d;
    padding: 2em;
    padding-top: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 {
    font-family: 'Alfa Slab One', cursive;
    font-weight: normal;
    color: white;
    letter-spacing: 1px;
  }
  
  button {
    border: none;
    background-color: #c0392b;
    height: 3em;
    font-size: 1.5em;
    font-family: 'Alfa Slab One', cursive;
    padding: 0 30px 0 30px;
    color: white;
  }
  
  button:hover {
    background-color: #861e1e;
  }
  
  button:focus {outline:0;}
  
  #resultContainer {
    margin-top: 2em;
    background-color: #ecf0f1;
    padding: 1em;
  }
  
  #resultDiv {
    font-family: 'Alfa Slab One', cursive;  
    line-height: 1em;
  }
  
  .selected {
    border-bottom: black 5px solid;
    padding: 0 0 0 0;
  }
  
  #colorDiv {
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto; /* clearfix */
  }
  
  /*
  Credit: http://flatuicolors.com/
  
  Turquise
  #1abc9c
  
  Emerald
  #2ecc71
  
  Green Sea
  #16a085
  
  Nephritis
  #27ae60
  
  Sun Flower
  #f1c40f
  
  Carrot
  #e67e22
  
  Orange
  #f39c12
  
  Pumpkin
  #d35400
  
  Alizarin
  #e74c3c
  
  Pomengranite
  #c0392b
  
  Peter River
  #3498db
  
  Belize Hole
  #2980b9
  
  Amethyst
  #9b59b6
  
  Wisteria
  #8e44ad
  
  Wet Asphalt
  #34495e
  
  Midnight Blue
  #2c3e50
  
  Concrete
  #95a5a6
  
  Asbestos
  #7f8c8d
  
  Silver
  #bdc3c7
  
  Clouds
  #ecf0f1  
  */